/.idea/
/BookLibrary.iml
/logs/
/target/
/setup/
/Обложки для книг/
/library-dump/
/*Features
/dependency-reduced-pom.xml
/test_cover.png
/TODO.txt
/audioBookSiteStorage.json
/authorStorage.json
/bookCycleStorage.json
/bookStorage.json
/publisherStorage.json
/userSettingsStorage.json
/my-library-audio-book-site-storage.txt
/backup/storage-archive-25-08-2024-15-04-02.zip
