.audio-book-sites-table-button {
    -icon-paint: #8B936B;
    -fx-background-color: #8B936B;
    -fx-background-image: url("../img/headphone-icon.png");
    -fx-background-position: center center;
    -size: 25;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M 58.5,-0.5 C 66.5,-0.5 74.5,-0.5 82.5,-0.5C 114.5,6.83333 134.167,26.5 141.5,58.5C 141.5,66.5 141.5,74.5 141.5,82.5C 134.167,114.5 114.5,134.167 82.5,141.5C 74.5,141.5 66.5,141.5 58.5,141.5C 26.5,134.167 6.83333,114.5 -0.5,82.5C -0.5,74.5 -0.5,66.5 -0.5,58.5C 6.83333,26.5 26.5,6.83333 58.5,-0.5 Z";
}

.audio-book-sites-table-button:hover {
   -fx-background-color: #3A3D20;
}